/* ==== General style ==== */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f8ff;
  font-family: "Raleway", sans-serif;
}

.primary-btn {
  background-color: #4e47ff;
  color: #fff;
  padding: 12px 32px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
}

/* ==== Header Styles ==== */

header {
  width: 100%;
  height: 698px;
  background-image: url("../Assets/Hero-bg.png");
}

.logo-signup {
  display: flex;
  max-width: 1140px;
  max-height: 151px;
  margin: 0 auto;
  padding: 50px 0px;
  align-items: center;
  justify-content: space-between;
}

.logo-signup h2 {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  color: #4e47ff;
}

.intro {
  max-width: 905px;
  max-height: 237px;
  margin: 158px auto 200px;
  text-align: center;
}

.intro h1 {
  font-size: 65px;
  margin-bottom: 37px;
}

/* ==== Main Section Styles ==== */

/* Preview section */
.live-preview {
  display: flex;
  max-width: 1140px;
  max-height: 328px;
  align-items: center;
  justify-content: space-between;
  margin: 92px auto;
}

.preview-txt {
  max-width: 517px;
}

.preview-txt h2 {
  font-size: 42px;
  font-weight: bold;
}

.preview-txt p {
  font-size: 24px;
  color: #25243280;
  margin: 23px 0px;
}

.live-preview img {
  border-radius: 48px;
  max-width: 403px;
  max-height: 328px;
}

/* Analytics section */

.analytics {
  margin: 92px auto;
  max-width: 1140px;
  max-height: 306px;
  text-align: center;
  background-color: #4e47ff1a;
  padding: 80px 50px;
  border-radius: 24px;
}

.analytics h2 {
  font-size: 38px;
  color: #252432;
  margin-bottom: 40px;
}

.analytics-count {
  display: flex;
  justify-content: space-between;
}

.analytics-count h1,
.analytics-count p {
  font-family: "Inter", sans-serif;
}

.analytics-count h1 {
  font-size: 80px;
  color: #4e47ff;
}

.analytics-count p {
  font-size: 20px;
  color: #000;
  opacity: 0.5;
}

/* testimony section */

.testimony-container {
  max-width: 1140px;
  max-height: 328px;
  margin: 92px auto;
}

.testimony-container h2 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 50px;
}

.testimonies {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.testimony {
  background-color: #ffffff80;
  border-radius: 14px;
  padding: 24px;
  outline: 1px solid #f2eded;
  outline-offset: -1px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Inter", sans-serif;
}

.ratings {
  display: flex;
  gap: 4px;
}

.testimonies h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.reviewer {
  display: flex;
  gap: 12px;
}

.reviewer img {
  border-radius: 50%;
  width: 40px;
}

.reviewer-data h4 {
  color: #25243280;
  font-size: 16px;
  font-weight: 600;
}

.reviewer-data p {
  color: #2524324d;
  font-weight: 400;
  font-size: 14px;
}

/* Banner Section */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 71px;
  max-width: 1140px;
  margin: 92px auto;
  background-color: #fff;
  border-radius: 14px;
  gap: 20px;
}

.banner h2 {
  font-size: 50px;
}

.banner img {
  border-radius: 48px;
}

/* Get in Touch Section */

.get-in-touch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 92px auto;
}

.get-in-touch-txt {
  max-width: 528px;
}

.get-in-touch-txt h1 {
  font-size: 97px;
}

.get-in-touch form {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.get-in-touch form label {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin-bottom: 8px;
}

.get-in-touch input[type="email"],
.get-in-touch input[type="text"],
.get-in-touch textarea {
  padding: 20px 32px;
  border: none;
  width: 497px;
  border-radius: 10px;
}

.get-in-touch textarea {
  resize: none;
  height: 135px;
}

.get-in-touch button {
  padding: 19px 101px;
}
